<!DOCTYPE html>
<html>
  <head>
    <script   src="https://code.jquery.com/jquery-3.1.0.js"   integrity="sha256-slogkvB1K3VOkzAI8QITxV3VzpOnkeNVsKvtkYLMjfk="   crossorigin="anonymous"></script>  
    <link rel="stylesheet" type="text/css"
    href="https://fonts.googleapis.com/css?family=Lobster">
    <title>Magic 8 Ball</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="javascripts/script.js"></script>
  </head>
  <body background="images/8ball.jpg">
    <h1>Welcome to the Magic 8 Ball App</h1>
    <div class="prompt">
      <h2>Ask Me Anything!</h2>
      <form id="magic8">
        <input type="text" name="question">
        <br>
        <input type="submit" value="Submit">
        <h1>My Answer Is....</h1>
        <span id="answer"></span>
      </form>
    </div>  
  </body>
</html>
